
h1{
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size:xx-large

}

body{
    background-color: green;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin: bottom 15px;
}